body{
    margin-top: 25px;
}
.calculadora{
    display:block;
    margin: 0 auto;
    padding: 13px;
    background-color: steelblue;
    width: 450px;
    height: 540px;
    border-radius: 25px;
}

.calculadora td button{
    display: block;
    width: 60px;
    height: 60px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
}
/* .igual{
    
    width: auto; 
    height: 600%;
    font-size: 25px;
}  */

#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 18px;
    width: 420px;
    height: 100px;
    line-height: 80px;
    background-color: #fff;
    border-radius: 25px;
    overflow-y:hidden; 
}
